<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
  <img src="https://farm2.staticflickr.com/1764/41096183130_3d8cd522a2_z.jpg" width="640" height="360" alt="20180610_001_LLS_BTS_5Da_001_10523409.jpg">

    <img src="https://flic.kr/p/LeEf4d" width="640" height="360" alt="20180610_001_LLS_BTS_5Da_001_10523409.jpg" />
    <p>Welcome to <%= title %></p>

      <% for (var i = 0; i < data.length; i++) {  %>
        <h2><%= data[i].Headline %></h2>
        <% if (data[i].Media) { %>
          <p>
            will insert some media from <%= data[i].Media %>
          </p>
          <img src= https://farm2.staticflickr.com/1764/41096183130_3d8cd522a2_z.jpg />
      <%  } %>
        <p>
          <%= data[i].Text %>
        </p>
        <ol>
        <li>Year =
            <%= data[i].Year %>
        </li>
        <li> Month =
            <%= data[i].Month %>
        </li>
        <li>Day =
            <%= data[i].Day %>
        </li>
        <li>Background =
            <%= data[i].Background %>
        </li>
        <li>Thing =
            <%= data[i].Thing %>
        </li>
        </ol>
      <%  } %>

<p>
  <a href="https://www.google.com">Google Here!!!!</a>
</p>

  </body>
</html>
