<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
  <img src="https://farm2.staticflickr.com/1764/41096183130_3d8cd522a2_z.jpg" width="640" height="360" alt="20180610_001_LLS_BTS_5Da_001_10523409.jpg">

    <img src="https://flic.kr/p/LeEf4d" width="640" height="360" alt="20180610_001_LLS_BTS_5Da_001_10523409.jpg" />
    <p>Welcome to <%= title %></p>

      <% for (var i = 0; i < data.length; i++) {  %>
        <h2>id = <%= data[i].id %></h2>
        <ul>
          <% for (var j = 0; j < props.length; j++) { %>
            <li>
              <strong><%= props[j] %>:</strong> <%= data[i][(props[j])] %>
            </li>
          <% } %>
        </ul>
      <%  } %>
  </body>
</html>
